.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.text{
    font-weight: var(--text-weight-bold);
    font-size: var(--text-size-medium);
    text-transform: capitalize;
    text-align: center;
}