.button{
    font-size: var(--text-size-medium);
    background-color: var(--color-background-soft);
    color: var(--color-text-white);
    
    text-transform: capitalize;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: scale .2s;

    &:hover{
        scale: .85;
    }

    &:disabled{
        opacity: .7;
        scale: 100%;
        cursor: not-allowed;
    }

}