.icon {
    font-size: var(--text-size-medium);
    
    cursor: pointer;
    animation: pulse 2.5s linear infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    
    50% {
        opacity: 1;
    }
    
    100% {
        color: var(--c-white);

        transform: scale(1.2);
        opacity: 0;
    }
}