.pageWrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.btnWrap{
    display: flex;
    gap: 5px;
}

.title{
    font-size: var(--text-size-title);
    font-weight: var(--text-weight-bold);
    color: var(--color-heading);
    text-transform: capitalize;
}