.instrumentsWrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.title{
    font-size: var(--text-size-title);
    font-weight: var(--text-weight-bold);
    color: var( --color-heading);
    
    text-align: center;
    text-transform: capitalize;
}